/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  background-image: url(../resources/table1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.8;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

span {
  box-sizing: border-box;
}

address {
  font-style: normal;
}

/* Form */
input {
  display: inline-block;
  cursor: pointer;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 15px;
}

.hidden {
  display: none;
}

h1 {
  display: inline-block;
  text-align: center;
}

h2 {
  font-size: 16px;
  margin-bottom: 10px;
}

.header-wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.header-wrapper .header-exchange-rates {
  background-color: white;
  opacity: 0.9;
  border: 1px solid gray;
  border-radius: 15px;
  padding: 10px;
}
.header-wrapper .header-exchange-rates .exchange-rates-inner span {
  display: block;
  padding-left: 25px;
}

.exchange {
  position: relative;
}

.euro::before {
  position: absolute;
  display: block;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  height: 20px;
  left: 0;
  top: 0;
  background-image: url(../resources/Anonymous_monetary_euro_symbol.svg);
  animation: animate linear 3.5s infinite;
  width: 20px;
}

.dollar::before {
  position: absolute;
  display: block;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  height: 20px;
  left: 0;
  top: 0;
  left: 5px;
  background-image: url(../resources/1489518658.svg);
  animation: animate linear 4s infinite;
  width: 10px;
}

.header-weather {
  background-color: white;
  opacity: 0.9;
  border: 1px solid gray;
  border-radius: 15px;
  max-width: 220px;
  text-align: center;
  padding: 10px;
}
.header-weather .form-weather {
  display: flex;
}
.header-weather .weather-location {
  width: 100%;
  padding: 5px;
  border: 1px solid brown;
  font-size: 10px;
  margin-bottom: 14px;
}
.header-weather .weather-location-btn {
  width: 80%;
  padding: 5px;
  border: 1px solid brown;
  font-size: 10px;
  margin-bottom: 14px;
  color: white;
  background-color: brown;
}
.header-weather .weather-location-btn:active {
  transform: scale(1.05);
}
.header-weather .weather-location-btn:hover {
  opacity: 0.8;
}

.weather-info {
  background: lightblue;
  border-radius: 10px;
}
.weather-info span {
  padding-left: 10px;
  display: block;
  text-align: left;
  font-size: 10px;
  font-weight: bold;
  border-bottom: 1px solid #eaeaea;
  padding: 5px;
}
.weather-info span:last-child {
  border-bottom: none;
}

.location-error {
  display: none;
}

.location-error-showed {
  display: block;
  color: rgb(255, 131, 131);
}

.header-weather-wrapper {
  text-align: left;
}

.tasks-title {
  margin-bottom: 30px;
  font-size: 38px;
  text-align: center;
}

.inputTask {
  width: 100%;
  padding: 10px;
  border: 2px solid brown;
  font-size: 18px;
}

.tasks-wrapper {
  background-color: white;
  opacity: 0.9;
  border: 1px solid gray;
  border-radius: 15px;
  margin: 0 auto 20px;
  padding: 20px;
}
.tasks-wrapper .task-form {
  display: flex;
}
.tasks-wrapper .task-form .task-btn {
  display: inline-block;
  cursor: pointer;
  transition: all 0.8s ease 0s;
}
.tasks-wrapper .task-form .task-btn:hover {
  transform: translate(15px, 0);
}

.tasks-list {
  max-height: 375px;
  overflow: auto;
}
.tasks-list .task {
  background-color: white;
  opacity: 0.9;
  border: 1px solid gray;
  border-radius: 15px;
  width: 90%;
  margin: 0 auto 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-error {
  color: rgb(255, 131, 131);
}

.task-btns {
  display: flex;
  gap: 20px;
}

.task-btn-completed {
  border: 2px solid brown;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  cursor: pointer;
  background-color: rgb(255, 131, 131);
}

.task-btn-delete {
  min-width: 25px;
  height: 25px;
  cursor: pointer;
  background-image: url(../resources/cross_mr3w4khsljuu.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.task-content {
  font-size: 20px;
}

.task-btn-completed-done {
  border: 2px solid brown;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  cursor: pointer;
  background-color: lightgreen;
}

.task-content-done {
  text-decoration: line-through;
  opacity: 0.6;
}

footer {
  position: fixed;
  bottom: 0;
}
footer .container {
  padding: 5px;
}
footer a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
footer span {
  color: white;
}

@media (max-width: 415px) {
  .header-wrapper {
    gap: 10px;
  }
  .tasks-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .tasks-wrapper {
    padding: 10px;
    margin-bottom: 10px;
  }
  .inputTask {
    padding: 0 10px;
    font-size: 14px;
  }
  .task-btn {
    width: 32px;
  }
  .tasks-wrapper .task-form .task-btn:hover {
    transform: translate(10px, 0);
  }
  .task-error {
    font-size: 10px;
  }
  .tasks-list .task {
    width: 100%;
    padding: 10px;
  }
  .task-btns {
    gap: 10px;
  }
}
@media (max-width: 676px) {
  h2 {
    font-size: 12px;
  }
  .tasks-title {
    font-size: 28px;
  }
  .inputTask {
    font-size: 16px;
  }
  .task-btn {
    width: 34px;
  }
  .task-btns {
    gap: 10px;
  }
  .task-btn-completed {
    width: 20px;
    height: 20px;
  }
  .task-btn-delete {
    width: 20px;
    height: 20px;
    background-size: contain;
  }
  .task-content {
    font-size: 14px;
  }
  .location-error-showed {
    font-size: 10px;
  }
}
@keyframes animate {
  0% {
    transform: perspective(23rem) rotateY(0deg);
  }
  25% {
    transform: perspective(23rem) rotateY(90deg);
  }
  50% {
    transform: perspective(23rem) rotateY(180deg);
  }
  75% {
    transform: perspective(23rem) rotateY(270deg);
  }
  100% {
    transform: perspective(23rem) rotateY(360deg);
  }
}/*# sourceMappingURL=styles.css.map */