@import "reset";
@import "todo";
@import "weather";
@import "variables";
@import "mixins";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 15px;
}

.hidden {
  display: none;
}
h1 {
  display: inline-block;
  text-align: center;
}
h2 {
  font-size: 16px;
  margin-bottom: 10px;
}
.header-wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;

  .header-exchange-rates {
    @include backgorundStyle;
    padding: 10px;
    .exchange-rates-inner span {
      display: block;
      padding-left: 25px;
    }
  }
}

.exchange {
  position: relative;
}
.euro::before {
  @include exchangeBefore;
  background-image: url(../resources/Anonymous_monetary_euro_symbol.svg);
  animation: animate linear 3.5s infinite;
  width: 20px;
}
.dollar::before {
  @include exchangeBefore;
  left: 5px;
  background-image: url(../resources/1489518658.svg);
  animation: animate linear 4s infinite;
  width: 10px;
}

.header-weather {
  @include backgorundStyle;
  max-width: 220px;
  text-align: center;
  padding: 10px;
  .form-weather {
    display: flex;
  }
  .weather-location {
    width: 100%;
    @include weatherInput;
  }
  .weather-location-btn {
    width: 80%;
    @include weatherInput;
    color: $colorWhite;
    background-color: $colorBrown;
  }
  .weather-location-btn:active {
    transform: scale(1.05);
  }
  .weather-location-btn:hover {
    opacity: 0.8;
  }
}
.weather-info {
  background: lightblue;
  border-radius: 10px;
  span {
    padding-left: 10px;
    display: block;
    text-align: left;
    font-size: 10px;
    font-weight: bold;
    border-bottom: 1px solid #eaeaea;
    padding: 5px;
  }
  span:last-child {
    border-bottom: none;
  }
}
.location-error {
  display: none;
}
.location-error-showed {
  display: block;
  color: $colorRed;
}

.header-weather-wrapper {
  text-align: left;
}

.tasks-title {
  margin-bottom: 30px;
  font-size: 38px;
  text-align: center;
}

.inputTask {
  width: 100%;
  padding: 10px;
  border: 2px solid $colorBrown;
  font-size: 18px;
}

.tasks-wrapper {
  @include backgorundStyle;
  margin: 0 auto 20px;
  padding: 20px;
  .task-form {
    display: flex;
    .task-btn {
      display: inline-block;
      cursor: pointer;
      transition: all 0.8s ease 0s;
    }
    .task-btn:hover {
      transform: translate(15px, 0);
    }
  }
}

.tasks-list {
  max-height: 375px;
  overflow: auto;

  .task {
    @include backgorundStyle;
    width: 90%;
    margin: 0 auto 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.task-error {
  color: $colorRed;
}

.task-btns {
  display: flex;
  gap: 20px;
}
.task-btn-completed {
  @include btnComplete;
  background-color: $colorRed;
}
.task-btn-delete {
  min-width: 25px;
  height: 25px;
  cursor: pointer;
  background-image: url(../resources/cross_mr3w4khsljuu.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.task-content {
  font-size: 20px;
}
.task-btn-completed-done {
  @include btnComplete;
  background-color: $colorGreen;
}
.task-content-done {
  text-decoration: line-through;
  opacity: 0.6;
}

footer {
  position: fixed;
  bottom: 0;
  .container {
    padding: 5px;
  }
  a {
    color: $colorWhite;
    text-decoration: none;
    cursor: pointer;
  }
  span {
    color: $colorWhite;
  }
}

@import "media";

@keyframes animate {
  0% {
    transform: perspective(23rem) rotateY(0deg);
  }
  25% {
    transform: perspective(23rem) rotateY(90deg);
  }
  50% {
    transform: perspective(23rem) rotateY(180deg);
  }
  75% {
    transform: perspective(23rem) rotateY(270deg);
  }
  100% {
    transform: perspective(23rem) rotateY(360deg);
  }
}
