@import "reset";
@import "todo";
@import "weather";
@import "variables";
@import "mixins";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 15px;
}

.hidden {
  display: none;
}
h1 {
  display: inline-block;
  text-align: center;
}
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .header-logo-wrapper {
    display: flex;
    align-items: center;
    @include backgorundStyle;
    padding: 10px;
    .header-logo {
      width: 100%;
    }
  }
}

.header-weather {
  @include backgorundStyle;
  max-width: 220px;
  text-align: center;
  padding: 10px;
  h2 {
    margin-bottom: 10px;
  }
  .form-weather {
    display: flex;
    gap: 5px;
  }
  .weather-location {
    width: 100%;
    @include weatherInput;
  }
  .weather-location-btn {
    width: 80%;
    @include weatherInput;
  }
}

.header-weather-wrapper {
  text-align: left;
}

.tasks-title {
  margin-bottom: 30px;
  font-size: 38px;
  text-align: center;
}

.inputTask {
  width: 100%;
  padding: 10px;
  border: 2px solid $colorBrown;
  font-size: 18px;
}

.tasks-wrapper {
  @include backgorundStyle;
  width: 90%;
  margin: 0 auto 20px;
  padding: 20px;
  .task-form {
    display: flex;
    gap: 20px;
    .task-btn {
      display: inline-block;
      cursor: pointer;
    }
  }
}

.tasks-list {
  max-height: 375px;
  overflow: auto;

  .task {
    @include backgorundStyle;
    width: 90%;
    margin: 0 auto 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.task-btns {
  display: flex;
  gap: 20px;
}
.task-btn-completed {
  @include btnComplete;
  background-color: $colorRed;
}
.task-btn-delete {
  min-width: 25px;
  height: 25px;
  cursor: pointer;
  background-image: url(../resources/cross_mr3w4khsljuu.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.task-content {
  font-size: 20px;
}
.task-btn-completed-done {
  @include btnComplete;
  background-color: $colorGreen;
}
.task-content-done {
  text-decoration: line-through;
  opacity: 0.6;
}
